<% @ages.each do |age| %>
  <p> <%= age.name  %> </p>
<% end %>
<% @births.each do |birth| %>
  <p> <%= birth.name  %> </p>
<% end %>
<% @blood_types.each do |blood_type| %>
  <p> <%= blood_type.name  %> </p>
<% end %>
<% @dexterities.each do |dexterity| %>
  <p> <%= dexterity.name  %> </p>
<% end %>
<% @froms.each do |from| %>
  <p> <%= from.name  %> </p>
<% end %>
<% @heights.each do |height| %>
  <p> <%= height.name  %> </p>
<% end %>
<% @incomes.each do |income| %>
  <p> <%= income.name  %> </p>
<% end %>
<% @numbers.each do |number| %>
  <p> <%= number.name  %> </p>
<% end %>
<% @players.each do |player| %>
  <p> <%= player.name  %> </p>
<% end %>
<% @positions.each do |position| %>
  <p> <%= position.name  %> </p>
<% end %>
<% @weights.each do |weight| %>
  <p> <%= weight.name  %> </p>
<% end %>
<% @years.each do |year| %>
  <p> <%= year.name  %> </p>
<% end %>


